<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>留言本</title>
  <link rel="stylesheet" href="/public/css/bootstrap.css">
</head>
<body>
  <script src="/public/js/main.js"></script>
  <img src="/public/img/ab3.jpg" alt="">
  <div class="header container">
    <div class="page-header">
      <h1>Example page header <small>Subtext for header</small></h1>
      <a class="btn btn-success" href="/post">发表留言</a>
    </div>
  </div>
  <div class="comments container">
    <ul class="list-group">
      <li class="list-group-item">吴昂说：哈哈哈哈<span class="pull-right">2020-3-8</span></li>
      <li class="list-group-item">1吴昂说：哈哈哈哈<span class="pull-right">2020-3-8</span></li>
      <li class="list-group-item">2吴昂说：哈哈哈哈<span class="pull-right">2020-3-8</span></li>
      <li class="list-group-item">3吴昂说：哈哈哈哈<span class="pull-right">2020-3-8</span></li>
      <li class="list-group-item">4吴昂说：哈哈哈哈<span class="pull-right">2020-3-8</span></li>
      <li class="list-group-item">5吴昂说：哈哈哈哈<span class="pull-right">2020-3-8</span></li>
      <li class="list-group-item">6吴昂说：哈哈哈哈<span class="pull-right">2020-3-8</span></li>
      <li class="list-group-item">7吴昂说：哈哈哈哈<span class="pull-right">2020-3-8</span></li>
      <li class="list-group-item">8吴昂说：哈哈哈哈<span class="pull-right">2020-3-8</span></li>
      <li class="list-group-item">9吴昂说：哈哈哈哈<span class="pull-right">2020-3-8</span></li>
      <li class="list-group-item">11吴昂说：哈哈哈哈<span class="pull-right">2020-3-8</span></li>
      <li class="list-group-item">12吴昂说：哈哈哈哈<span class="pull-right">2020-3-8</span></li>
    </ul>
  </div>
</body>

</html>
